h1 {
    text-align: center;
    font-size: 100px;
}
p {
    color: white;
    background-color: black;
    text-align: center;
}
button {
    font-size: 40px;
}
.last {
    color: red;
}